<html>
	<head>
		<title>
			United Kingdom - Home
		</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/TEMPLATE.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/fixed_nav.css">
		<script src = "scripts/jquery-1.11.0.js" type="text/javascript"></script>
		<script src = "scripts/fixed_nav.js" type="text/javascript"></script>
	</head>
	<body id = "body">
		<div id = "top_nav_main_container">
			<div id = "top_nav_container">
				<ul class = "ul_style">
					<a href="index.html"><div class = "home_nav">

					</div></a>
					<a href="england.html" class = "a_styles"><div class = "main_navs" id = "ENG_topnav">
						<p class = "top_nav_title_ps" id = "top_nav_title_ENG">
							ENGLAND
						</p>
					</div></a>
					<a href="scotland.html" class = "a_styles"><div class = "main_navs" id = "SCT_topnav">
						<p class = "top_nav_title_ps" id = "top_nav_title_SCT">
							SCOTLAND
						</p>
					</div></a>
					<a href="wales.html" class = "a_styles"><div class = "main_navs" id = "WAL_topnav">
						<p class = "top_nav_title_ps" id = "top_nav_title_WAL">
							WALES
						</p>
					</div></a>
					<a href="ireland.html" class = "a_styles"><div class = "main_navs" id = "IRL_topnav">
						<p class = "top_nav_title_ps" id = "top_nav_title_IRL">
							IRELAND
						</p>
					</div></a>
				</ul>
			</div>
		</div>
		<div id = "title_bar_container">
			<img src = "images/UK_flag.jpg" id = "title_div_flag"/>
			<div id = "dark_trans_cover"></div>
			<div id = "title_p_container">
				<p id = "title_p">
					The United Kingdom
				</p>
			</div>
		</div>
		<div id = "uk_info_container_main">
			<ul class = "ul_style">
				<div id = "title_UKinfo">
					<div id = "title_p_UKinfo_container">
						<p id = "title_p_UKinfo">
							The United Kingdom
						</p>
					</div>
					<div class = "seperator"></div>
				</div>
				<div id = "info_UKinfo">
					<p id = "info_UKinfo_p">
						<!-- info on country...--> 
					</p>
				</div>
			</ul>
		</div>
		<div id = "nav_container">
			
		</div>
		<div id = "footer_container">
			<p id = "DD_p">
				design and development by <a id = "DD_nme">Murrray Watson</a>
			</p>
		</div>
	</body>
</html>